body{
	background-color: #e9eaed;
	margin-top: 50px;
}

.app ul{
	list-style: none;
}
.app li{
	display: inline;
	background-color: #fff;
	width: 150px;
	height: 150px;
	margin: 5px;
	float: left;
	border: 1px solid #e6e6e6;
	border-radius: 5px;
}

.app a{
	text-decoration: none;	
	display: block;
	width: 150px;
	line-height: 150px;
	text-align: center;
}

.app a:hover{
	background-color: orange;
	color:#fff;
}

/*
CREDIT TO: http://jsfiddle.net/nfang/AxfdC/
*/
.jiggle {
    -webkit-animation: jiggle 0.2s infinite;
    -moz-animation-duration: 0.2s;
    -moz-animation-name: jiggle;
    -moz-animation-iteration-count: infinite;
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
}

@-moz-keyframes jiggle {
    0% {
        -moz-transform: rotate(-1deg);
}
50% {
    -moz-transform: rotate(1deg);
}
}

@-webkit-keyframes jiggle {
    0% {
        -webkit-transform: rotate(-1deg);
}
50% {
    -webkit-transform: rotate(1deg);
}
}